# Ones

2나 5로 나눌 수 없는 0 이상 10,000 이하의 정수 n이 주어졌는데, n의 배수 중에는 10진수로 표기했을 때 모든 자리 숫자가 1인 것이 있다. 그러한 n의 배수 중에서 가장 작은 것은 몇 자리 수일까?

#### Sample Input 

    3 
    7 
    9901 

#### Sample Output 

    3 
    6 
    12

# Reverse And Add

In [ ]:
일단 어떤 수를 받아서 그 수를 뒤집은 다음 뒤집어진 수를 원래의 수에 더하는 과정을 뒤집어서 더하기라고 부르자. 그 합이 
회문(palindrome, 앞뒤 어느 쪽에서 읽어도 같은 말이 되는 어구. 예:eye, madam, 소주만병만주소)이 아니면 회문이 될 때까지 
이 과정을 반복한다.

예를 들어 처음에 195에서 시작해서 다음과 같이 네 번 뒤집어서 더하기를 반복하면 9339라는 회문이 만들어진다.

  195       786        1473       5214
+591     +687      +3741     +4125
----------     -----------      -----------       -----------
 786      1473        5214       9339
대부분의 정수는 이 방법을 몇 단계만 반복하면 회문이 된다. 하지만 예외도 있다. 회문을 찾을 수 없는 것으로 밝혀진 첫번째
수는 196이다. 하지만 회문이 없다는 것이 증명된 적은 없다.

어떤 수가 주어졌을 때 회문이 있으면 출력하고, 그 회문을 찾기까지 뒤집어서 더하기를 반복한 횟수를 출력하는 프로그램을
만들어야 한다.

테스트 데이터로 사용되는 수는 모두 뒤집어서 더하기를 1,000번 미만 반복해서 회문을 찾을 수 있는 수고, 그렇게 만들어진
회문을 4,294,967,295보다 크지 않다고 가정해도 된다.

#### Input

첫번째 줄에는 테스트 케이스를 나타내는 정수 N(0<N<=100)이 들어있고, 그 아래로 N개의 줄에 걸쳐서 회문을 구해야 하는 정
수가 한 줄에 하나씩 들어있다.

#### output

N개의 각 정수에 대해 회문을 발견하는 데 필요한 최소한의 반복 횟수를 출력하고, 스페이스를 한 칸 출력한 다음, 그 회문을 출
력한다.

#### Sample Input

3
195
265
750
#### Sample Output

4 9339
5 45254
3 6666

In [92]:

num = int(input())
n = 0
for i in range(num):
    nustr = input()
    cnt = 0
    su = 0

    while True:
        nu1 = int(nustr)
        nu2 = [nustr[-x] for x in range(1, len(nustr)+1)]
        nu2 = int(''.join(nu2))
        su = int(su)
        su = sum([nu1, nu2])
        cnt += 1
        su = str(su)
        nustr = su
        a = [su[x]==su[len(su)-x-1] for x in range(len(su))]
        b = [True for x in range(len(su))]
        if a == b:
            print(cnt, su)
            break

3
195
4 9339
265
5 45254
750
3 6666

In [94]:
def sample(a):
    b = str(a)
    count = 0
    while b != b[::-1]:
        b = str((int(b) + int(b[::-1])))
        count += 1
    return print(count, b)

# 다음 디브온 코드골프 문제

In [ ]:
디브온에서 미니대안언어축제가 진행되던 M2 밖에 텍스트큐브 부스에서 재미있는 코드골프 문제 풀기가 있었습니다. 150자
이하로 푸신 분들에게는 즉석에서 제공되는 원두커피와 텀블러가 상으로 주어졌다고 합니다.

문제는 아래와 같습니다. 이 결과가 나와야 하는데 언어 제약은 없답니다.

     *
     *
    * *
   *   *
  *     *
**       **
  *     *
   *   *
    * *
     *
     *

In [ ]:
11
5 5 4 3 2 0 2 3 4 5 5 
1 1 1 1 1 2 1 1 1 1 1    ㄱ
0 0 1 3 5 7 5 3 1 0 0      l
0 0 1 1 1 2 1 1 1 0 0     --

In [ ]:
maps = int(input())
for i in range(len(maps)):
    for j in range(len)

In [98]:
s=[32,32,80,136,260,1539]
s[-2::-1]

[260, 136, 80, 32, 32]

In [101]:
s=[32,32,80,136,260,1539]
print(s+s[-2::-1])
for x in s+s[-2::-1]:
    print(''.join([' *'[int(b)]for b in bin(x)[:1:-1]]))

[32, 32, 80, 136, 260, 1539, 260, 136, 80, 32, 32]
     *
     *
    * *
   *   *
  *     *
**       **
  *     *
   *   *
    * *
     *
     *

In [26]:
a = 80
print(bin(a))
print(bin(a)[:0:-1])
print()

0b1010000
0000101b

In [22]:
' *'[1]

'*'

# 487-3229

In [ ]:
회사원들은 외우기 좋은 전화번호를 갖고 싶어한다. 전화번호를 외우기 쉽도록 만드는 한 방법은 기억하기 좋은 단어나 구절이
되도록 하는 것이다. 예를 들어, 워털루 대학의 전화는 TUT-GLOP으로 전화를 걸 수 있다. 때때로 번호의 일부만이 단어를 쓰기 
위해 사용될 수 있다. Gino에서 피자를 주문하기 위해 310-GINO로 전화를 거는 식이다. 전화번호를 외우기 좋도록 하는 또다른
방법은 숫자들을 기억하기 좋은 방법으로 묶는 것이다. 3-10-10-10 (Three-tens)으로 전화를 걸면 피자헛에 주문을 할 수 있다.

전화번호의 표준형은 세 번째 번호와 네 번째 번호 사이에 하이픈(-)을 삽입한 7개의 숫자로 구성되어 있다. (예: 888-1200). 전
화기의 키패드는 다음과 같은 글자 대 숫자의 대응을 지닌다.

A, B, C -> 2
D, E, F -> 3
G, H, I -> 4
J, K, L -> 5
M, N, O -> 6
P, R, S -> 7
T, U, V -> 8
W, X, Y -> 9
Q와 Z에 대한 대응관계는 존재하지 않는다. 하이픈은 전화기에 입력되지 않으며 필요에 따라 추가되거나 빠질 수 있다. TUT-GL
OP의 표준형은 888-4567이고, 310-GINO의 표준형은 310-4466, 3-10-10-10의 표준형은 310-1010이다.

만약 어떤 두 전화번호가 같은 표준형을 지니면 그들은 같은 번호이다.

여러분의 회사는 지역 회사원들의 전화번호를 정리하고 있다. 품질 관리 과정의 일환으로, 여러분은 정리된 전화번호부의 번호
중에 같은 것이 둘 이상 있지 않은지 확인하고 싶다.

Input

입력은 하나의 테스트 케이스로 구성된다. 입력의 첫 줄은 전화번호의 갯수(<=100,000)로 이뤄져 있다. 남은 줄들은 전화번호
부 내의 전화번호들이 한 줄에 하나씩 들어 있다. 각 전화번호는 십진 숫자들과 대문자(Q,Z 제외), 하이픈으로 구성된 문자열로
이뤄져 있다. 문자열 내에서 정확히 7개의 문자들이 숫자 또는 알파벳 문자이다.

Output

한 번 이상 등장한 전화번호들이 출력을 구성한다. 각 줄은 표준형으로 표현된 전화번호와 출현 횟수가 하나의 공백 문자로 구
분되어 있다. 출력되는 전화 번호들은 증가하는 사전식 순서로 되어 있어야 한다. 만약 입력으로 들어온 전화번호 중에 중복이
없다면 "No duplicates."를 출력한다.

Sample Input

12
4873279
ITS-EASY
888-4567
3-10-10-10
888-GLOP
TUT-GLOP
967-11-11
310-GINO
F101010
888-1200
-4-8-7-3-2-7-9-
487-3279

Sample Output

310-1010 2
487-3279 4
888-4567 3

In [2]:
num = str(input()).split()
cnt = int(num[0])
maps = [x for x in range(65, 90)]
maps.remove(81)
dic = {}
[dic.setdefault(maps[j], i) for i in range(2, 10)
                            for j in range(0+(i-2)*3, 3+(i-2)*3)]
    
for i in range(1, cnt+1):
    #del la[:]
    la = []
    for j in num[i]:
        a = ord(j)
        if a == 45:
            pass
        elif 65<=a and a<=90:
            la.append(dic.get(a))
        else:
            la.append(a-48)
    
    ll.append(int(''.join([chr(x+48) for x in la])))
        
if ll.count(3101010)>0:
    print('310-1010',ll.count(3101010))
if ll.count(4873279)>0:
    print('487-3279',ll.count(4873279))
if ll.count(8884567)>0:
    print('888-4567',ll.count(8884567))

12 4873279 ITS-EASY 888-4567 3-10-10-10 888-GLOP TUT-GLOP 967-11-11 310-GINO F101010 888-1200 -4-8-7-3-2-7-9- 487-3279
310-1010 4
487-3279 8
888-4567 6