# Syntax – Creating DataFrames
* https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(
        {"a" : (4 ,5, 6),
        "b" : (7, 8, 9),
        "c" : (10, 11, 12)},
        index = [1, 2, 3])

In [7]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [6]:
df

NameError: name 'df' is not defined

In [0]:
df[["a", "b"]]

   a  b
1  4  7
2  5  8
3  6  9

# 새 섹션

In [0]:
df.loc[3, "a"]

6

In [0]:
df.loc[[1, 2], ["a", "b"]]

   a  b
1  4  7
2  5  8

In [15]:
import random as rd
from operator import itemgetter
import itertools as it
import pandas as pd

rd.randrange(100,201)
r = range(100)
k = [rd.randrange(10, 21) for i in r]
a = list(zip(k,r))
a.sort(key=itemgetter(0))
print(a)
pd.DataFrame(a, columns=["a", "b"], index=r)
pd

[(10, 8), (10, 14), (10, 21), (10, 24), (10, 37), (10, 53), (10, 64), (10, 83), (10, 85), (10, 86), (10, 93), (11, 44), (11, 81), (11, 91), (11, 98), (12, 4), (12, 12), (12, 17), (12, 32), (12, 33), (12, 34), (12, 50), (12, 72), (12, 82), (12, 96), (13, 0), (13, 6), (13, 25), (13, 31), (13, 45), (13, 57), (13, 60), (13, 68), (13, 69), (13, 71), (13, 87), (14, 7), (14, 30), (14, 38), (14, 39), (14, 42), (14, 77), (14, 84), (14, 88), (14, 89), (15, 2), (15, 3), (15, 15), (15, 35), (15, 43), (15, 74), (15, 76), (15, 90), (16, 9), (16, 28), (16, 41), (16, 56), (16, 65), (16, 67), (16, 70), (16, 73), (16, 75), (16, 80), (16, 94), (16, 95), (17, 19), (17, 20), (17, 23), (17, 46), (17, 47), (17, 48), (17, 51), (17, 52), (17, 54), (17, 59), (17, 62), (17, 92), (18, 16), (18, 18), (18, 26), (18, 40), (18, 49), (18, 58), (18, 63), (19, 1), (19, 5), (19, 10), (19, 11), (19, 13), (19, 22), (19, 27), (19, 78), (19, 97), (19, 99), (20, 29), (20, 36), (20, 55), (20, 61), (20, 66), (20, 79)]

In [ ]:
df = pd.DataFrame(
        [(4, 7, 10),
        (5, 8, 11),
        (6, 9, 12)],
        index=[1, 2, 3],
        columns=['a', 'b', 'c'])
df

In [ ]:
import numpy as np
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 6, np.nan],
        "b" : [7, 8, np.nan, 9, 9],
        "c" : [10, 11, 12, np.nan, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2),('e',3),('e',4)],
        names=['n','v']))
df

## Subset Observations (Rows)

In [0]:
df[df['c'] >= 7]

In [0]:
df

In [0]:
df = df.drop_duplicates(keep='last')
df

In [0]:
df.head()

In [0]:
df[df["b"] != 7]

In [0]:
df['a'].isin([5])

In [0]:
pd.isnull(df)

In [0]:
df['a'].isnull().sum()

In [0]:
pd.notnull(df)

In [13]:
df.notnull().sum()

a    3
b    3
c    3
dtype: int64

In [0]:
df.a.notnull()

* &,|,~,^,df.any(),df.all() 
* and, or, not, xor, any, all

In [0]:
df[df.b == 7] | df[df.a == 5]

In [0]:
df.head(2)

In [0]:
df.sample(frac=0.3)

In [0]:
df.sample(n=5)

In [0]:
df

In [0]:
df.iloc[-2:]

In [0]:
df = pd.DataFrame({'a': [1, 10, 8, 11, -1],
                'b': list('abdce'),
                'c': [1.0, 2.0, np.nan, 3.0, 4.0]})
df

In [0]:
df.nlargest(1, 'a')

In [0]:
df.nsmallest(3, 'a')