# pandas 사용법

In [1]:
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt

df = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
        index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
df[["a", "b"]]

   a  b
1  4  7
2  5  8
3  6  9

In [7]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.746819 -0.917106  0.593300 -1.596163
2013-01-02 -0.068347  0.575547  0.208576 -0.386949
2013-01-03  0.827544 -2.152364  2.956155 -0.548776
2013-01-04  0.967064  1.107667  0.055606  0.969299
2013-01-05 -0.163942  1.910186 -1.404096 -0.282662
2013-01-06 -0.115619  1.090773 -1.130637  1.700950