# Syntax – Creating DataFrames
* https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
        index = [1, 2, 3])

In [0]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [6]:
df

NameError: name 'df' is not defined

In [0]:
df[["a", "b"]]

   a  b
1  4  7
2  5  8
3  6  9

# 새 섹션

In [0]:
df.loc[3, "a"]

6

In [0]:
df.loc[[1, 2], ["a", "b"]]

   a  b
1  4  7
2  5  8

In [0]:
df = pd.DataFrame(
        [[4, 7, 10],
        [5, 8, 11],
        [6, 9, 12]],
        index=[1, 2, 3],
        columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [0]:
import numpy as np
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 6, np.nan],
        "b" : [7, 8, np.nan, 9, 9],
        "c" : [10, 11, 12, np.nan, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2),('e',3),('e',4)],
        names=['n','v']))
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0

## Subset Observations (Rows)

In [0]:
df[df['c'] >= 7]

In [0]:
df

In [0]:
df = df.drop_duplicates(keep='last')
df

In [0]:
df.head()

In [0]:
df[df["b"] != 7]

In [0]:
df['a'].isin([5])

In [0]:
pd.isnull(df)

In [0]:
df['a'].isnull().sum()

In [0]:
pd.notnull(df)

In [0]:
df.notnull().sum()

In [0]:
df.a.notnull()

* &,|,~,^,df.any(),df.all() 
* and, or, not, xor, any, all

In [0]:
df[df.b == 7] | df[df.a == 5]

In [0]:
df.head(2)

In [0]:
df.sample(frac=0.3)

In [0]:
df.sample(n=5)

In [0]:
df

In [0]:
df.iloc[-2:]

In [0]:
df = pd.DataFrame({'a': [1, 10, 8, 11, -1],
                'b': list('abdce'),
                'c': [1.0, 2.0, np.nan, 3.0, 4.0]})
df

In [0]:
df.nlargest(1, 'a')

In [0]:
df.nsmallest(3, 'a')